/*
 * utilities.less
 */

/* ----- Alignment ----- */
// Vertical alignment
.align-container {
	display: table;
	width: 100%;
	height: 100%;
}

.align-inner {
	display: table-cell;
	vertical-align: middle;
}

.align-inner--top {
	vertical-align: top;
}

.align-inner--bottom {
	vertical-align: bottom;
}

// Horizontal alignment
.align-center {
	text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.spacer-l{
    margin-left: 0;
	@media (min-width: @screen-md) {
		margin-left: 30px;
	}
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(74, 74, 74, 0.3);
}