
 /*
  * Transitions
  */
 
 .transition{
   /* This is !important to include */
   -webkit-transition: -webkit-transform .2s; 
   -webkit-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
 }
 
 
 /*
  * Page wrap
  */
 
  /*
 .page-wrap{
   overflow: hidden;
   

   .transition;
 }
 
 .offcanvas-expanded{
   .page-wrap{

     -webkit-transform: translateX(-320px); 
     -ms-transform: translateX(-320px); 
     transform: translateX-(320px);
   }
 }
 
 */
 /*
  * Offcanvas
  */
 
 .offcanvas{
    /* This is !important to include */
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 75px;
    right: 0;
    left: initial;
    background: #333333;
    z-index: 5000;
    -webkit-transform: translateX(100%); 
    -ms-transform: translateX(100%); 
    transform: translateX(100%);
    .transition;
    @media (min-width: @screen-sm){
      width: 320px;
      -webkit-transform: translateX(320px); 
      -ms-transform: translateX(320px); 
      transform: translateX(320px);
    }
   
   ul{
     list-style: none;
     padding-top: 30px;
     li{
       margin: 35px 0;
       
       a{
         color: white;
         text-decoration: none;
         font-weight: bold;
         text-align: center;
         display: block;
         font-size: 30px;
         &:hover{
             color: @primary-color;
         }
       }
     }
   }
   .dropdown{
       ul{
            padding-top: 0;
       }

       li{
           margin: 15px 0;
       }

       a{
            font-size: 18px;
            font-weight: initial;
       }
   }
 }
 
 .offcanvas-expanded{
   .offcanvas{
     /* This is !important to include */
     -webkit-transform: translateX(0); 
     -ms-transform: translateX(0); 
     transform: translateX(0);
   }
 }
 
 /*
  * Offcanvas toggle
  */
 
#nav-toggle { 
    cursor: pointer;
    padding: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    z-index: 100;
    transition: all .2s ease-in-out;
    display: block;
    .transition;
    display: block;
    @media (min-width: @screen-md){
        display: none;
    }
}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;;
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  margin-left: -12.5px;
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 200ms ease-in-out;
}


#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
