.section-contact{
    background: #E9E9E9;
    padding-bottom: 30px;
    @media (min-width: @screen-sm){
        padding-bottom: 50px;
    }
    h2{
        text-align: center;
        color: #4A4A4A;
        font-size: 40px;
        line-height: 36px;
        margin: 80px 0;
        @media (min-width: @screen-xs){
            font-size: 50px;
        }
    }
}


.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 98%;
    margin: auto;
    
    @media (min-width: @screen-sm){
        max-width: 400px;
    }

    @media (min-width: @screen-md){
        max-width: 500px;
    }
    label{
        margin-bottom: 5px;
        font-size: 22px;
        line-height: 36px;
    }

    input, textarea{
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 4px;
        box-shadow: initial;
        border: none;
        font-size: 22px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input[type=submit] {
        border-radius: 4px; 
        background: @primary-color;
        color: white;
    }

    textarea{
        height: 200px;
    }
}

