.section-poster{
    margin: 15px 0;
    @media (min-width: @screen-sm){
        margin: 30px 0;
    }
}

.post{
    margin-bottom: 30px;
}

.post__bg{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: @screen-sm){
        height: 230px;
    }
    @media (min-width: @screen-md){
        height: 236px;
    }
}

.post__content{
    h3{
        font-size: 32px;
        color: #4A4A4A;
        line-height: 40px;
        @media (min-width: @screen-sm){
            font-size: 36px;
            line-height: 44px;
        }
        @media (min-width: @screen-md){
            font-size: 40px;
        }
    }
    p{
        font-size: 22px;
        color: #747474;
        line-height: 34px;
    }
    a{
        color: @primary-color;
        font-size: 22px;
        display: block;
        margin-top: 15px;
        line-height: 34px;
        text-decoration: none;
    }
}

.load{
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    background: #B0B0B0;
    border: 2px solid #B0B0B0;
    color: white;
    border-radius: 4px;
    margin: 30px auto;
    width: auto;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    @media (min-width: @screen-sm){
        width: 325px;
    }
    &:hover{
        background: transparent;
        color: darken(#B0B0B0, 25%);
    }
}
