.site-header{
    background: @primary-color;
    position: fixed;
    width: 100%;
    z-index: 99;
    @media (min-width: @screen-md){
        position: initial;
        width: auto;
    }
    .container{
        @media (min-width: @screen-sm){
            position: relative;
        }
    }
}

.site-header__logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    padding-left: 15px;
    @media (min-width: @screen-sm){
        padding-left: 0;
    }
}

.offcanvas-expanded{
    .site-header__logo{
        visibility: hidden;
    }
}

.site-header__nav{
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    @media (min-width: @screen-md){
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 75px;
        float: right;
    }

    li{
        float: left;
        display: block;

        &:nth-child(2){
            position: relative;
        }
        &:hover > a {
            background: @primary-color__hover;
            transition: 0.1s background ease;
        }
    }

    a{
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px 15px;
        height: 100%;
        @media (min-width: @screen-md){
            padding: 0px 5px;
        }
        @media (min-width: @screen-lg){
            padding: 0px 15px;
        }
        &:hover{
            background: @primary-color__hover;
        }
    }

    & > li a + div {
        background: #333333;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 3px 1px rgba(0,0,0,.05);
        display: none;
        position: absolute;
        width: 254px;
        right: 0;
        z-index: 2;
        li{
            display: block;
            width: 100%;
            clear: both;
        }
        li:hover #srbin a{
            background-color: black !important;
        }
        
        a{
            color: white;
            font-size: 18px;
            text-align: right;
            line-height: 36px;
            display: block;
            padding: 0 20px;
            &:hover{
                background: @primary-color;
            }
        }
    }

    & > li:hover a + div {
        display: block;
    }
}