.site-footer{
    background: #4A4A4A;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center;
    @media (min-width: @screen-sm){
        text-align: initial;
    }

    p{
        display: block;
        @media (min-width: @screen-sm){
            display: inline-block;
        }
    }
    p:nth-child(2){
        @media (min-width: @screen-sm){
            float: right;
        }
    }
}