.hero{
    padding-top: 75px;
    @media (min-width: @screen-md-min){
        padding: 0;
    }
}
.hero-slider__item{
    background-size: cover;
    background-repeat: no-repeat;
    
}
.hero-slider__item--content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    position: relative;
    h2{
        font-size: 44px;
        color: white;
        text-align: center;
        line-height: 44px;
        @media (min-width: @screen-md-min){
            text-align: right;
            font-size: 50px;
            line-height: 36px;
        }
    }
}